@charset "utf-8";

.filemanager {
	position: absolute;
	width:20%;
	height:33vw;
	right:5%;
	background-color: rgba(200, 200, 200, 0.7);
}

[draggable=true] {
	cursor: move;
}

/*  For Mobiles
@media all and (max-width: 800px) {
	.filemanager {
		margin: 5% auto 0;
		padding: 1px;
	}
}
*/

.filemanager .bt_close_file_toolbar{
	color: #000;
	width: 100%;
	background-color:#888;
	text-align: center;
	font-size: 0.8vw;
	max-font-size: 20pt;
	font-weight: 400;
	line-height: 1.8vw;
	cursor: pointer;
}

/*-------------------------
	Breadcrumps
-------------------------*/

.filemanager .breadcrumbs {
	color: #262626;
	margin-left:4%;
	font-size: 0.8vw;
	max-font-size:14pt;
	font-weight: 400;
	line-height: 1.6vw;
	margin-top:3%;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
	color: #272729;
	text-decoration: none;
}

.filemanager .breadcrumbs a:hover {
	text-decoration: underline;
}

.filemanager .breadcrumbs .arrow {
	color: #7fb1cf;
	font-size: 0.8vw;
	/*max-font-size:14pt;*/
	/*font-weight: 700;*/
	/*line-height: 2.2vw;*/
}


/*-------------------------
	Search box
-------------------------*/
.filemanager .search {
	position: relative;
	cursor: pointer;
	font-size: 1.5vw;
	color: #000;
	background-color:#ccc;
	display: block;
	width: 100%;
	height: 2.2vw;
	max-lines: 1;
}

/* The circle of the magnifier */
.filemanager .search:before {
	content: '';
	position: absolute;
	display: block;
	right: 0.8vw;
	margin-top: 0.2vw;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	border: 0.2vw solid #ffffff;
}

/* The handle of the maginfying lens */
.filemanager .search:after {
	content: '';
	position: absolute;
	right:0px;
	display: block;
	width: 0.15vw;
	height: 0.9vw;
	background-color: #fff;
	border-radius: 0.1vw;
	top: 1.2vw;
	right: 0.8vw;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* TEXT INPUT */
.filemanager .search input[type=search] {
	border-radius: 2px;
	color: #4D535E;
	background-color: #FFF;
	width: 80%;
	height: 2vw;
	padding-left: 0.2vw;
	padding-right: 0.2vw;
	text-decoration-color: #4d535e;
	font-size: 1.4vw;
	font-weight: 400;
	line-height: 2vw;
	display: none;
	outline: none;
	border: none;

	-webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #4d535e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #4d535e;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #4d535e;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #4d535e;
}


/*-------------------------
	Content area
-------------------------*/

/* The container of the folders */
.filemanager .data {
	display: block;
	z-index: -3;
	height: 27vw;
	overflow-y: scroll;
	margin:0px;
	-webkit-padding-start: 3%;

}

.filemanager .data.animated {
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .data ul {
	margin:0px;
}

.filemanager .data li {
	border-radius: 2%;
	background-color: #fff;
	color: #6a6a72;
	width: 98%;
	height: 4vw;
	list-style-type: none;
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
}

.filemanager .data li:hover {
	background-color: #DADDE1;
}

.filemanager .data li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.filemanager .data li  {
	margin-bottom:0px;

}

.filemanager .data li .name {
	color: #4d535e;
	font-size: 0.7vw;
	max-font-size: 12px;
	font-weight: 600;
	line-height: 1vw;
	width: 80%;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 30%;
}

.filemanager .data li .details {
	color: #7ba1ad;
	font-size: 0.6vw;
	max-font-size: 12pt;
	font-weight: 300;
	width: 50%;
	margin-left: 0.1vw;
	height: 0.7vw;
	top: 50%;
	white-space: nowrap;
	position: absolute;
	display: inline-block;
}


/* --------- Nothing FOUND -------------*/
.filemanager .nothingfound {
	/*background-color: #ffffff;*/
	/*opacity: 0.1;*/
	width: 97%;
	height: 14vw;
	margin: 0 auto;
	display: none;
	position:absolute;
	font-family: Arial;
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
	margin: 1vw auto;
	top: 1vw;
	/*border-radius: 50%;*/
	position:relative;
	/*background-color: #d72f6e;*/
	width: 10vw;
	height: 10vw;
	line-height: 10vw;
}
.filemanager .nothingfound .nofiles:after {
	/*content: 'x';*/
	/*position: relative;*/
	/*color: #ffffff;*/
	/*font-size: 10vw;*/
	/*margin-left: 2vw;*/
	/*right: 0;*/
}

.filemanager .nothingfound span {
	margin: auto;
	display: table;
	color: #ffffff;
	font-size: 0.6vw;
	font-weight: 700;
	line-height: 0.8vw;
	position: relative;
	top: 0.2vw;
}






/*@media all and (max-width:250px) {*/

	/*.filemanager .data li {*/
		/*width: 100%;*/
		/*margin: 5px 0;*/
	/*}*/

/*}*/

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.icon {
	font-size: 0.7vw;
}
.icon.folder {
	display: inline-block;
	margin: 2%;
	margin-top: 7%;
	background-color: transparent;
	overflow: hidden;
}
.icon.folder:before {
	content: '';
	float: left;
	background-color: #7ba1ad;

	width: 1.5em;
	height: 0.45em;

	margin-left: 0.07em;
	margin-bottom: -0.07em;

	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;

	box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}
.icon.folder:after {
	content: '';
	float: left;
	clear: left;

	background-color: #a0d4e4;
	width: 3em;
	height: 2.25em;

	border-radius: 0.1em;
}
.icon.folder.full:before {
	height: 0.55em;
}
.icon.folder.full:after {
	height: 2.15em;
	box-shadow: 0 -0.12em 0 0 #ffffff;
}

.icon.file {
	width: 2.5em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 0.25em;
	color: #FFF;
	display: inline-block;
	margin: 0.9em 0.5em 0.5em 0.5em;
	position: relative;
	overflow: hidden;
	box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.icon.file:first-line {
	font-size: 0.6vw;
	font-weight: 700;
}
.icon.file:after {
	content: '';
	position: absolute;
	z-index: -1;
	border-width: 0;
	border-bottom: 2.6em solid #DADDE1;
	border-right: 2.22em solid rgba(0, 0, 0, 0);
	top: -34.5px;
	right: -4px;
}


.icon.file.f-1{
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}

.icon.file.f-2{
	box-shadow: 1.74em -2.1em 0 0 #0070ee inset;
}

.icon.file.f-3{
	box-shadow: 1.74em -2.1em 0 0 #007000 inset;
}

.icon.file.f-4{
	box-shadow: 1.74em -2.1em 0 0 #0000ee inset;
}


.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
	border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
	box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
	border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
	border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
	box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
	border-bottom-color: #d65de8;
}

.icon.file.f-js {
	box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
	border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
	box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
	border-bottom-color: #30837c;
}



.filemanager ::-webkit-scrollbar {
	width: 0.6vw;
	height: 0.6vw;
}

.filemanager ::-webkit-scrollbar-button {
	background: #fff
}
.filemanager ::-webkit-scrollbar-track-piece {
	background: #000
}
.filemanager ::-webkit-scrollbar-thumb {
	background: #eee
}​


